{% extends 't_base.html' %}

{% block title %}MAC-Finder{% endblock %}

{% block body %}
    {# секция основго поля для дерева устройств #}
    <div class="container-fluid" id="place"></div>

    {# секция выкидного окна справа для информации об устройстве #}
    <div class="offcanvas offcanvas-end w-50 user-select-text" tabindex="-1" id="device_info"
         aria-labelledby="offcanvas_device_info">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvas_device_info"></h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body" id="offcanvas_device_info_body">

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseInfo" role="button"
                   aria-expanded="true" aria-controls="collapseInfo">
                    Наименование, аптайм, комментарии
                </a>

            </p>
            <div class="collapse show" id="collapseInfo">
                <div class="card card-body" id="collapseInfoText"></div>
            </div>
            <p></p>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapseInternalIP" role="button"
                   aria-expanded="false" aria-controls="collapseInternalIP">
                    Внутренние IP адреса
                </a>

            </p>
            <div class="collapse" id="collapseInternalIP">
                <div class="card card-body" id="collapseInternalIPText"></div>
            </div>
            <p></p>

            <p>
                <a class="btn btn-primary" data-bs-toggle="collapse" href="#collapsePorts" role="button"
                   aria-expanded="false" aria-controls="collapsePorts">
                    Активные порты, маки/IP-адреса за ними, VLANs
                </a>

            </p>
            <div class="collapse" id="collapsePorts">
                <div class="card card-body" id="collapsePortsText"></div>
            </div>

        </div>
    </div>

    {# Секция выкиндого поля справа с информацией по по воду и без. надо зачищать перед открытием. #}
    <div class="offcanvas offcanvas-end w-50 user-select-text" tabindex="-1" id="canvas_info"
         aria-labelledby="offcanvas_info_title">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="offcanvas_info_title">text</h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Закрыть"></button>
        </div>
        <div class="offcanvas-body" id="offcanvas_info_body">text1</div>
    </div>

    <script type="text/javascript" src="/static/js/core.js"></script>
{% endblock %}
