<!-- Верхнее основное меню -->
<nav class="navbar navbar-expand-lg bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MAC-Finder</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">Actions</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">qqq</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" id="menu_changePassword"
                               data-bs-toggle="modal" data-bs-target="#changePassword">Change password</a>
                        </li>
                        <li><a class="dropdown-item" href="#" id="menu_logout">Logout</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">SNMP</a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#"
                               data-bs-toggle="modal" data-bs-target="#addSNMP">Add L2+ device (SNMP)</a></li>

                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link active" href="#" id="menu_refresh">Refresh</a>
                </li>
            </ul>
            <div class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search MAC or IP"
                       aria-label="searchButton" id="searchInput" >
                <button class="btn btn-outline-success" type="button" id="searchButton"
                data-bs-toggle="offcanvas" data-bs-target="#canvas_info">Search</button>
            </div>
        </div>
    </div>
</nav>

<!-- Модальное окно для смены пароля -->
<div class="modal" tabindex="-1" id="changePassword">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Смена пароля текущего пользователя</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body" id="passModalBody">

                <div class="input-group flex-nowrap">
                    <form onsubmit="LogonButton()" action="/web">
                        <!-- Password input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="passwd1" class="form-control form-control-sm" autofocus/>
                            <label class="form-label" for="passwd1">Пароль</label>
                        </div>
                        <!-- Confirm input -->
                        <div data-mdb-input-init class="form-outline mb-4">
                            <input type="password" id="passwd2" class="form-control form-control-sm"/>
                            <label class="form-label" for="passwd2">Подтверждение</label>
                            <div class="invalid-feedback" id="passwordFeedback"></div>
                        </div>
                        <!-- Submit button -->
                        <button type="submit" id="changePasswordButton" data-mdb-button-init data-mdb-ripple-init
                                class="btn btn-primary btn-sm btn-block">Сменить пароль
                        </button>
                    </form>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>

<!-- Модальное окно добавления нового устройства -->
<div class="modal" tabindex="-1" id="addSNMP">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Добавить устройство в сети</h5>
                <!-- Устройство должно быть настроено самостоятельно - должно отвечать на запросы по SNMP -->
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Закрыть"></button>
            </div>
            <div class="modal-body">

                <!-- List group -->
                <div class="list-group list-group-horizontal" id="myList" role="tablist">
                    <a class="list-group-item list-group-item-action active"
                       data-bs-toggle="list" href="#tab-connect" role="tab">Connect</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-info" role="tab">Info</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-ports" role="tab">Ports</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-macs" role="tab">MAC-table</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-arp" role="tab">ARP-table</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-ip" role="tab">Local IP</a>
                    <a class="list-group-item list-group-item-action"
                       data-bs-toggle="list" href="#tab-confirm" role="tab">Apply</a>
                </div>

                <!-- Tab panes -->
                <div class="tab-content">
                    <!-- Вкладка с основными данными о подключении -->
                    <div class="tab-pane active" id="tab-connect" role="tabpanel">
                        <p></p>
                        <form id="connection">
                            <div class="form-text">
                                <h4>Начнем с главного.</h4>
                            </div>

                            <div class="row g-3 align-items-center">
                                <div class="col-auto">
                                    <label for="ip-addr" class="form-label">Hostname/IP адрес устройства:</label>
                                    <input id="ip-addr" type="text" class="form-control" placeholder="10.20.30.40"
                                           aria-label="10.20.30.40">
                                </div>
                                <div class="col-sm">
                                    <label for="port" class="form-label">Port</label>
                                    <input id="port" type="text" class="form-control" placeholder="161"
                                           aria-label="161" value="161">
                                </div>
                                <div class="col-auto">
                                    <label for="community" class="form-label">Community</label>
                                    <input id="community" type="text" class="form-control" placeholder="public"
                                           aria-label="public" value="public">
                                </div>
                                <div class="col-auto">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="tab-connect-version1">
                                        <label class="form-check-label" for="tab-connect-version1">
                                            SNMP v1
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" name="flexRadioDefault"
                                               id="tab-connect-version2" checked>
                                        <label class="form-check-label" for="tab-connect-version2">
                                            SNMP v2
                                        </label>
                                    </div>
                                </div>

                            </div>
                            <br>

                            <input id="tab-connect-start-oid" type="text" class="form-control" placeholder="10.20.30.40"
                                   aria-label=".1.3.6.1.2.1.1.1" value=".1.3.6.1.2.1.1.1" hidden>
                            <input id="tab-connect-stop-oid" type="text" class="form-control"
                                   placeholder="10.20.30.40"
                                   aria-label=".1.3.6.1.2.1.1.7" value=".1.3.6.1.2.1.1.7" hidden>
                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-connect')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-connect-result1" class="form-label">сырые данные</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-connect-result1"
                                          rows="3" wrap="off" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-connect-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-connect-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- Вкладка запроса основной информации об устройстве -->
                    <div class="tab-pane" id="tab-info" role="tabpanel">
                        <p></p>
                        <form id="info">
                            <div class="mb-3">
                                <h6>Для получения общей информации об устройстве проверьте диапазон oid</h6>
                            </div>
                            <div class="mb-3">
                                <label for="tab-info-start-oid" class="form-label">
                                    Стартовый OID:
                                </label>
                                <input id="tab-info-start-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.1.1"
                                       aria-label=".1.3.6.1.2.1.1.1" value=".1.3.6.1.2.1.1.1">
                            </div>
                            <div class="mb-3">
                                <label for="tab-info-stop-oid" class="form-label">
                                    Конечный OID (исключая его):
                                </label>
                                <input id="tab-info-stop-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.1.7"
                                       aria-label=".1.3.6.1.2.1.1.7" value=".1.3.6.1.2.1.1.7">
                            </div>

                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-info')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-info-result1" class="form-label">сырые данные</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-info-result1"
                                          rows="3" wrap="off" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-info-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-info-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- вкладка порты -->
                    <div class="tab-pane" id="tab-ports" role="tabpanel">
                        <p></p>
                        <form id="ports">
                            <div class="mb-3">
                                <h6>Для получения информации о портах устройства, проверьте диапазон oid</h6>
                            </div>
                            <div class="mb-3">
                                <label for="tab-ports-start-oid" class="form-label">
                                    Стартовый OID:
                                </label>
                                <input id="tab-ports-start-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.2.2.1.2"
                                       aria-label=".1.3.6.1.2.1.2.2.1.2" value=".1.3.6.1.2.1.2.2.1.2">
                            </div>
                            <div class="mb-3">
                                <label for="tab-ports-stop-oid" class="form-label">
                                    Конечный OID (исключая его):
                                </label>
                                <input id="tab-ports-stop-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.2.2.1.3"
                                       aria-label=".1.3.6.1.2.1.2.2.1.3" value=".1.3.6.1.2.1.2.2.1.3">
                            </div>

                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-ports')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-ports-result1" class="form-label">сырые данные</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-ports-result1"
                                          rows="3" wrap="off" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-ports-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-ports-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- вкладка про маки -->
                    <div class="tab-pane" id="tab-macs" role="tabpanel">
                        <p></p>
                        <form id="macs">
                            <div class="mb-3">
                                <h6>Какие mac-и светятся на устройстве, в каких vlan-ах; проверьте диапазон oid</h6>
                            </div>
                            <div class="mb-3">
                                <label for="tab-macs-start-oid" class="form-label">
                                    Стартовый OID:
                                </label>
                                <input id="tab-macs-start-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.17.7.1.2.2.1.2"
                                       aria-label=".1.3.6.1.2.1.17.7.1.2.2.1.2" value=".1.3.6.1.2.1.17.7.1.2.2.1.2">
                            </div>
                            <div class="mb-3">
                                <label for="tab-macs-stop-oid" class="form-label">
                                    Конечный OID (исключая его):
                                </label>
                                <input id="tab-macs-stop-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.17.7.1.2.2.1.3"
                                       aria-label=".1.3.6.1.2.1.17.7.1.2.2.1.3" value=".1.3.6.1.2.1.17.7.1.2.2.1.3">
                            </div>

                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-macs')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-macs-result1" class="form-label">сырые данные</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-macs-result1"
                                          rows="3" wrap="off" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-macs-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-macs-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- вкладка запроса локальных IP -->
                    <div class="tab-pane" id="tab-ip" role="tabpanel">
                        <p></p>
                        <form id="ip">
                            <div class="mb-3">
                                <h6>Запрос внутренних IP адресов устройства; проверьте диапазон oid</h6>
                            </div>
                            <div class="mb-3">
                                <label for="tab-ip-start-oid" class="form-label">
                                    Стартовый OID:
                                </label>
                                <input id="tab-ip-start-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.4.20.1"
                                       aria-label=".1.3.6.1.2.1.4.20.1" value=".1.3.6.1.2.1.4.20.1">
                            </div>
                            <div class="mb-3">
                                <label for="tab-ip-stop-oid" class="form-label">
                                    Конечный OID (исключая его):
                                </label>
                                <input id="tab-ip-stop-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.4.20.2"
                                       aria-label=".1.3.6.1.2.1.4.20.2" value=".1.3.6.1.2.1.4.20.2">
                            </div>

                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-ip')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-ip-result1" class="form-label">
                                    сырые данные (здесь могут быть бинарные данные)</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-ip-result1"
                                          rows="3" wrap="off" readonly></textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-ip-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-ip-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- вкладка про arp-table -->
                    <div class="tab-pane" id="tab-arp" role="tabpanel">
                        <p></p>
                        <form id="arp">
                            <div class="mb-3">
                                <h6>Запрос arp кэша; проверьте диапазон oid.
                                    Устройство может не отдавать arp кэш через SNMP</h6>
                            </div>
                            <div class="mb-3">
                                <label for="tab-arp-start-oid" class="form-label">
                                    Стартовый OID:
                                </label>
                                <input id="tab-arp-start-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.4.22.1.2"
                                       aria-label=".1.3.6.1.2.1.4.22.1.2" value=".1.3.6.1.2.1.4.22.1.2">
                            </div>
                            <div class="mb-3">
                                <label for="tab-arp-stop-oid" class="form-label">
                                    Конечный OID (исключая его):
                                </label>
                                <input id="tab-arp-stop-oid" type="text" class="form-control"
                                       placeholder=".1.3.6.1.2.1.4.22.1.3"
                                       aria-label=".1.3.6.1.2.1.4.22.1.3" value=".1.3.6.1.2.1.4.22.1.3">
                            </div>

                            <div class="mb-3">
                                <button type="button" class="btn btn-primary btn-sm btn-block" data-mdb-button-init
                                        data-mdb-ripple-init onclick="runTest('tab-arp')">Тестировать
                                </button>
                            </div>

                            <div class="mb-3">
                                <label for="tab-arp-result1" class="form-label">
                                    сырые данные (здесь могут быть бинарные данные)</label>
                                <textarea style="overflow-x: scroll" class="form-control" id="tab-arp-result1"
                                          rows="3" wrap="off" readonly>
Некоторые устройства не отдаю нужных данных.
Либо поищите нужные OID-s инструментом
SnmpWalk -csv -v:2c -c:public -r:host ...
Или... нет у нас данных с этого устройства.`
                                </textarea>
                            </div>
                            <div class="mb-3">
                                <label for="tab-arp-result2" class="form-label">вынимаем в таком виде</label>
                                <textarea class="form-control" id="tab-arp-result2" rows="3" wrap="off"
                                          readonly></textarea>
                            </div>
                        </form>
                    </div>

                    <!-- отправляем -->
                    <div class="tab-pane" id="tab-confirm" role="tabpanel">
                        <p></p>
                        <form id="confirm">
                            <div class="mb-3">
                                <h6>Добавить устройство</h6>
                                Если, например, запрос arp не дает результата на вашем устройстве,
                                оставьте пустыми поля oid, будем иметь в виду, что запрашивать нет смысла.
                                <div class="mb-3">
                                    <label for="new_device" class="form-label">подготовленный запрос:</label>
                                    <textarea class="form-control" id="new_device" rows="3" wrap="on"
                                              readonly></textarea>
                                </div>
                                <div class="mb-3">
                                    <input class="form-check-input" type="checkbox" value="" id="isOK">
                                    <label class="form-check-label" for="isOK">
                                        Все верно, можно добавлять.
                                    </label>
                                </div>
                                <div class="mb-3">
                                    <button type="button" class="btn btn-primary btn-lg btn-block" data-mdb-button-init
                                            id="addButton" data-mdb-ripple-init onclick="">Добавить
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Закрыть</button>
            </div>
        </div>
    </div>
</div>


<script type="text/javascript" src="/static/js/menu.js"></script>
